<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense-tracker</title>

</head>

<body class="bg-light">
    <header>
        <nav class="navbar navbar-dark justify-content-between" style="padding: 8px 16px;
            background-color: #e95420;">
            <a class="navbar-brand" href="/">
                家庭記帳本

        </nav>
    </header>

    <main>
        <div class="container mt-3">
            {{{ body }}}
        </div>
    </main>


</body>

</html>