<h1 class="mb-1 show-title">新增支出</h1>
<div class="container">
    <form action="/record" method="POST">

        <div class="mb-3">
            <label for="name" class="form-label">名稱<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="categoryId" class="form-label">分類<span class="text-danger">*</span></label>
            <select type="text" class="form-control" id="categoryId" list="categoryOptions" name="categoryId" required>

                <option disabled selected>選擇分類</option>
                {{#each categories}}
                <option value="{{ this.id }}">{{ this.category }}</option>
                {{/each}}

            </select>
        </div>

        <div class="mb-3">
            <label for="date" class="form-label">日期<span class="text-danger">*</span></label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>

        <div class="mb-3">
            <label for="amount" class="form-label">花費<span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="amount" name="amount" required min="0">
        </div>


        <div class="text-center">
            <button type="submit" class="btn btn-outline-primary">
                新增支出
            </button>

            <a type="button" class="btn btn-outline-secondary" href="/">
                返回首頁
            </a>

            <button type="reset" class="btn btn-outline-danger">重新輸入</button>
        </div>
    </form>
</div>